.sectionCard {
  background-color: white;
  border-radius: 1rem;                /* esquinas redondeadas */
  padding: 1rem;                    /* más espacio interno */
  margin: 0rem auto;                   /* separa la card y la centra */
  max-width: 90%;                    /* más ancho que antes */
  width: 90%;                          /* ocupa la mayoría del espacio disponible en pantallas pequeñas */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15); /* sombra definida */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.sectionCard:hover {
  transform: translateY(-5px);   
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); /* sombra más intensa al hover */
}

.sectionCard h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #4b5563;
  margin-bottom: 1rem;
}

.sectionCard h4 {
  font-size: 1.875rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #111827;
}

.sectionCard p {
  margin-bottom: 1rem;
  color: #374151;
}

.sectionCard a {
  background-color: #b91c1c;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  margin-right: 0.5rem;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.sectionCard a:hover {
  background-color: #991b1b;
  transform: translateY(-2px);
}